body {
    background: #1e1e1e;
    color: white;
    font-family: Arial;
    text-align: center;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background: orange;
    border: none;
    color: white;
    cursor: pointer;
}
